{% extends 'base.html' %}
{% block content %}

  <div class="container">

    <div class="text-start mb-5">
      <h2>질문 등록</h2>
    </div>
    <form method="post" class="post-form my-3">
      {% csrf_token %}
      {% include "form_errors.html" %}

      <div class="mb-3">
        <label for="subject" class="col-form-label">제목</label>
          <div>
            <input type="text" class="form-control" id="subject" name="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
          </div>
      </div>

      <div class="mb-3">
        <label for="content" class="col-form-label">내용</label>
        <div>
          <!-- content에 데이터가 없으면 None이라는 문자열이 표시 됨, None대신 공백으로 표시하세요 -->
          <textarea rows="10" class="form-control" name="content" id="content">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
      </div>

      <!-- {{ form.as_p }} -->
      <button type="submit" class="btn btn-primary btn-sm">저장</button>
    </form>

  </div>

{% endblock %}